@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

.w3-third img { margin-bottom: -6px; opacity: 0.8; cursor: pointer }
.w3-third img:hover { opacity: 1 } 

html, body {
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.5;
}

html {
    overflow-x: hidden;
}

h1 {
    font-size: 3.60em;
}

h2 {
    font-size: 6em;
    border-bottom: 8px solid #000;
    padding-bottom: 2px
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 22px;
    font-weight: normal;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 1.20em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Sans', sans-serif;
    margin: 0.5em 0;
}

p {
    font-size: 1em;
}

.blink {
    color: #DC143C;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {  
    50% { opacity: 0; }
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

/**
 * Form;
 */
textarea:focus, input:focus {
    outline: none;
}

.cf {
    border-bottom: 1.5px solid #ccc;
}

.cf:hover {
    border-color: #DC143C;
    transition: border-color .6s ease;
}

/**
 * Menu
 */
#menu {
    font-size: 1.15em;
}

/* For 'darkred' background color */
#link{
    position: relative;
}

#link:after{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #DC143C;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}
 
#link:hover:after{
    width: 100%;
    left: 0;
    background: #DC143C;
}

/**
 * Tags;
 */
.tags {
    list-style: none;
    margin: 0;
    overflow: hidden; 
    padding: 0;
}

.tags li {
    float: left; 
}

.tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

.tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.tag:hover {
    background-color: crimson;
    color: white;
}

.tag:hover::after {
    border-left-color: crimson; 
}

/*
 * Icons; Facebook, Twitter, LinkedIn, GitHub
 */
.fa {
    padding: 15px;
    font-size: 25px;
    width: 45px; /**/
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-github {
    background: #602A80;
    color: white;
}

.fa-linkedin {
    background: #037FBD;
    color: white;
}

/*
 * Media Screen; responsive layer
 */
@media screen and (max-width: 640px) {
  #menu {
    font-size: 1.00em;
  }
  
  h1 {
    font-size: 3.75em;
  }
}

@media screen and (max-width: 480px) {
  #menu {
    font-size: 0.85em;
  }
  
  h1 {
    font-size: 2.50em;
  }
}

@media screen and (max-width: 320px) {
  #menu {
    font-size: 0.65em;
  }
  
  h1 {
    font-size: 2.20em;
  }
}
