.app {
	color: white;
}

.font {
	font-family: 'DM Serif Display';
	letter-spacing: 0.035em;
}

.size-1 {
	font-size: 4em;
}

.size-2 {
	font-size: 3em;
}

.size-3 {
	font-size: 2em;
}

.size-4 {
	font-size: 1.50em;
}

.size-5 {
	font-size: 1.25em;
}

.size-6 {
	font-size: 1em;
}

.text-underline {
	text-decoration: underline;
}

.visible {
	visibility: visible;
}

.hidden {
	visibility: hidden;
}

.transition {
	animation: showTime 1s;
}

.marker {
	background-color: #DC2826;
	transition: ease-out 0.5s;
}

.marker:hover {
	background-color: #DF3C3A;
}

.point1,.point2 {
	height: 0.75em;
  width: 0.75em;
  background-color: #4D4D4D;
	border-radius: 50%;
	transition: linear 0.25s;
}

.point1:hover {
	height: 1.50em;
	width: 1.50em;
	background-color: yellow;
}

.point2:hover {
	background-color: purple;
}

.point1-position {
	position: absolute;
	left: 83%;
	top: 56%;
}

.point2-position {
	position: absolute;
	left: 9%;
	top: 32%;
}

.nav-element {
	color: white;
	margin-top: 0.50em;
	padding: 0.15em 1.25em 0.15em 1.25em;
	transition: linear 0.25s;
}

.nav-element:hover,.nav-selected {
	color: white;
	background-color: #DC2826;
}

@keyframes showTime {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}